<div class="row">
    <div class="col-sm-4 col-sm-offset-4 col-xs-12 text-center" style="margin-top:1.5em; margin-bottom:1.5em;">
        <div class="form-group">
            <form>
                <Label style="font-size: 16px;">Type de vignette</Label>
                <select class="form-control" ng-options="x.name for x in frankings" ng-model="franking.value"></select>
            </form>
        </div>
    </div>
    <div class="col-xs-12 text-center">
        <button class="btn btn-primary" ng-click="epsonPrint()">
            Impression
        </button>
    </div>
</div>