<div class="col-xs-12">
    <div class="page-header">
        <h3 class="text-center">Bienvenue sur votre application de tests !</h3>
        <h4 class="text-center">Une application Mongo-Express-Node-Angular JS vous perméttant de tester différentes fonctionnalités</h4>
    </div>
</div>
<div class="col-xs-12 vert-space">
    <button class="btn btn-primary" ng-click="getXLS()">XLS to JSON</button>
</div>
<div class="col-xs-12 vert-space" ng-if="labels.length > 0" style="height: 600px; overflow-y:scroll;">
    <div class="table-responsive">
        <table class="table table-bordered table-dark">
            <tr>
                <th>NIV 1</th>
                <th>NIV 2</th>
                <th>NIV 3</th>
                <th>NIV 4</th>
                <th>NIV 5</th>
            </tr>
            <tr ng-repeat="d in labels">
                <td>{{d.lvl1}}</td>
                <td>{{d.lvl2}}</td>
                <td>{{d.lvl3}}</td>
                <td>{{d.lvl4}}</td>
                <td>{{d.lvl5}}</td>
            </tr>
        </table>
    </div>
</div>